<div class="container">
  <!-- Upload Button -->
  <button type="button" class="btn btn-upload" data-toggle="modal" data-target="#uploadModal">
    <i class="fas fa-plus"></i>
  </button>
  <div class="gallery">
    <div *ngFor="let image of images" class="gallery-item">
      <img ngSrc="image.url" [alt]="image.filename" />
      <div class="image-info">
        <h3>{{ image.filename }}</h3>
        <p>{{ image.description }}</p>
        <p><strong>Uploaded at:</strong> {{ image.createdAt | date }}</p>
      </div>
    </div>
  </div>
</div>
